header{
    background-image: url(../images/header.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center center;
    height: 41em;
    opacity: 1;
    position: relative;
}

