@import '../base/variables';
@import '../functions/mixins';
@import '../base/sizes';

/*Formato a los títulos*/
h2{
    @include cuerpoTextos(bold, 2.5rem);
    color: $sectionColor; 
    font-family: 'Blinker', sans-serif;
    display: flex;
    justify-content: center;
    /*Gradiente lineal*/
    background-image: linear-gradient(to right, rgb(214, 81, 40), rgb(219, 214, 214));
    }
/*Formato a los párrafos*/
p{
    @include cuerpoTextos (normal, 1.3rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 222, 220);
    line-height: 1.2em;
    padding: 1rem;
    width: 70%;
}
/*Estilo general de las secciones*/
.estilos, .conocenos{
    height: 17rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $sectionColor;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*Tamaño de imágenes en las secciones*/
/*Agrego transición de blanco y negro a las imágenes de "Nuestros estilos" y "Conocenos", 
primero poniendo en blanco y negro las imágenes*/
.imagenSection {
    width: $anchoImagen / 3.25;
    padding: 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    filter: grayscale(1) opacity(.8);
}
/*Ahora pongo dos efectos al hacer hover: 
1) Transición de la imagen, revirtiendo el gris a sus colores originales
2) Transformación de la imagen, agrandando su tamaño un 20%*/
.imagenSection:hover{
    filter: grayscale(0) opacity(1);
    transform: scale(1.1);
}

/*Aplico Media Queries para modificar el fondo de los párrafos*/
/*Primero, para Celulares*/
@media (max-width: 400px) {
    .estilos{
        display: flex;
        flex-direction: column;
        height: $queryHeight;
    }
    .conocenos{
        display: flex;
        flex-direction: column-reverse;
        height: $queryHeight;
    }
    .imagenSection{
        width: $anchoImagen + 2 - 1;
    }
    .botonesEstilos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        width: 20%;
    }
}

/*Ahora para Tablets*/
@media (min-width: 401px) and (max-width: 960px) {
    .estilos{
        display: flex;
        flex-direction: column;
        height: $queryHeight;
    }
    .conocenos{
        display: flex;
        flex-direction: column-reverse;
        height: $queryHeight;
    }
    .imagenSection{
        width: $anchoImagen * 0.7;
    }
    .botonesEstilos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        width: 20%;
    }
}

.botonesEstilos{
    display: flex;
    justify-content: space-evenly;
    background-color: $sectionColor;
    padding-bottom: 10px;
}

.button{
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 15%;
    background-color: rgb(241, 132, 99);
    &:hover{
        background-color: rgb(170, 83, 56);
    }
}